# Ignorar archivos de configuración sensible
.env
airflow.cfg

# Ignorar archivos compilados de Python
**/__pycache__/

# Ignorar archivos de log en cualquier nivel
**/logs/

# Ignorar archivos temporales
*.log
*.tmp
*.bak
